.user-card {
  display: block;
  width: 25%;
  padding: 6px;
  margin: 10px;
  background-color: #c0c0c0;
  border: 3px solid #000000;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  cursor: pointer;
}

.user-card:hover {
  background-color: #ffcc00;
}

img {
  margin: 5px;
  border: 2px solid #000000;
  background-color: #ffffff;
  padding: 4px;
  height: 150px;
  width: 80%;
}

p {
  margin-top: 3px;
  margin-bottom: 3px;
  border: 2px solid #000000;
  background-color: #e0e0e0;
  font-size: 14px;
  padding: 5px;
  width: 80%;
  text-align: center;
  justify-self: center;
}